^/my/wiki/.* div.main_top div.byline {
  float: none;
}
^/my/wiki/.* div.main_top {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
div.wiki {
  padding: 0;
  margin: 0;
  width: 40em;
}
div.wiki h1,
div.wiki h3,
div.wiki h2 {
  padding: 0;
  margin: 0;
}
div.wiki h1,
div.wiki h2 {
  color: #666666;
  font-size: 140%;
  font-weight: bold;
  margin-bottom: .5ex;
  text-indent: 0;
}
div.wiki div.prose h3,
div.wiki div.prose h4,
div.wiki a.movie {
  text-indent: 0;
}
^/my/wiki/Press dl.press dt {
  margin-top: 1.5ex;
}
^/my/wiki/Press dl.press dd {
  margin: .3ex 0 0 0;
}
^/my/wiki/Press dl.press dd a {
  font-weight: bold;
}
^/my/Donate blockquote.address {
  font-size: 120%;
  font-weight: bold;
}
^/my/Donate div.donate form div.field_err {
  display: inline;
  margin-right: .5em;
  font-weight: bold;
  font-size: 100%;
}
^/my/Donate div.thanks {
  padding: .5ex;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: 0x33CC00;
}
^/my/Donate span.money {
  font-size: 120%;
  font-weight: bold;
  color: 0x33CC00;
  margin-right: .5em;
}
^/my/wiki/Prizes div.wiki span.rides {
  font-weight: bold;
}
^/my/wiki/Prizes a.left img {
  padding-right: 2em;
  clear: left;
  float: left;
}
^/my/wiki/Prizes a.right img {
  padding-left: 2em;
  clear: right;
  float: right;
}
^/my/wiki/Prizes div.winners {
  display: block;
  margin: auto;
  background: url(prize-winners.jpg) no-repeat;
  width: 250px;
  height: 212px;
}
^/my/wiki/Home h3 img {
  display: block;
  float: right;
  margin: 1em 0 1em 1em;
}
^/my/wiki/Home a.movie {
  display: block;
  float: left;
  margin: 0 1em 1em 0;
}
^/my/wiki/Sponsors div.simple img {
  padding: 10px;
}
