a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #33CC00;
}
a:hover {
  color: #99FF33;
  text-decoration: underline;
}
body {
  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
  background-color: white;
  color: black;
  margin: 1em;
  font-size: medium;
}
img, table {
  border-style: none;
}
p {
  margin: 0;
}
th {
  font-weight: bold;
}
.ak {
  padding: .2em;
  border: 1px solid #33CC00;
  width: 20em;
  margin: auto;
  text-align: center;
}
.cn {
  padding: 1ex 5em 1ex 5em;
  border-bottom: 1px solid #666666;
}
.cn p {
  text-align: justify;
}
.er {
  font-weight: bold;
  color: #990000;
}
.fr .ch {
  padding-left: 3em;
}
.fr .ds {
  margin: .1em 0 0 0;
  width: 30em;
  font-size: 90%;
  color: #666666;
  clear: left;
  float: left;
}
.fr .er {
  font-size: 90%;
  color: #990000;
  font-weight: bold;
  width: 30em;
  margin-bottom: 10ex;
}
.fr .in {
  padding-bottom: 1em;
}
.fr .lb, .fr .el {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  padding-right: .2em;
}
.fr .el {
  color: #990000;
  font-style: italic;
  vertical-align: middle;
}
.fr .pr {
  width: 40em;
  text-align: left;
  padding-bottom: .5ex;
}
.hd,
.ft {
  position: relative;
  white-space: nowrap;
}
.hd {
  margin-bottom: 2ex;
}
.ft {
  font-size: 80%;
  padding-top: .3ex;
  padding-bottom: 7ex;
}
.ft .c1, .ft .c2, .ft .c3,
.hd .c1, .hd .c2, .hd .c3 {
  position: absolute;
}
.hd .c1,
.ft .c1 {
  left: 0%;
  width: 25%;
}
.hd .c2,
.ft .c2 {
  left: 25%;
  text-align: center;
  width: 50%;
}
.hd .c2 img,
.ft .c2 img {
  margin: 0 5px 2px 5px;
}
.hd .c3, .ft .c3 {
  left: 75%;
  text-align: right;
  width: 25%;
}
.hd .c3 {
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: top;
}
.hd {
  height: 80px;
}
.hd .c1 span {
  display: block;
  width: 80px;
  height: 80px;
  background: white url('/i/smiley_80.jpg') no-repeat top left;
}
.hd .br {
  font-weight: bold;
  color: #666666;
  font-size: 150%;
  padding-bottom: 1ex;
  white-space: nowrap;
}
.hd .bt {
  border-top: 1px solid #666666;
  margin-top: .1ex;
  color: #666666;
  white-space: nowrap;
  text-transform: uppercase;
}
.hd .bt img {
  margin: 0 10px 0 10px;
}
.bm .sp {
  margin: 0 10px 0 10px;
}
.pr p {
  text-indent: 2em;
  margin: 2ex 0 2ex 0;
  text-align: left;
}
.fr .sp {
  text-align: left;
  font-weight: normal;
  color: #33CC00;
  padding: .5ex 0 1.5ex 0;
  border-top: 1px solid #33CC00;
}
.wr {
  font-weight: italic;
  color: #990001;
}
#gr div {
  text-align: center;
}
#gr .sm a {
  padding: 20px;
}
.index_freiker, .index_wheel {
  /* FRAGILE: depends on home page text */
  height: 500px;
}
.index_freiker {
  background: url(/i/index_freiker.jpg) no-repeat;
  float: left;
  clear: left;
  width: 95px;
  padding-right: 20px;
}
.index_wheel {
  background: url(/i/index_wheel.jpg) no-repeat;
  width: 180px;
  clear: right;
  margin-left: 20px;
  float: right;
}
.index_winners {
  display: block;
  background: url(/i/index_winners.jpg) no-repeat;
  width: 250px;
  height: 212px;
  margin: auto;
}
.learn_more {
  font-size: 80%;
  white-space: nowrap;
}
.pz_rides {
  font-weight: bold;
}
.pz_velo_2 {
  background: url(/i/cateye_velo_2.jpg) no-repeat top left;
  padding-right: 2em;
  width: 139;
  height: 165;
  clear: left;
  float: left;
}
.pz_winners {
  padding-top: 20px;
}
.ride_list {
  margin: auto;
}
.ride_list .lb {
  padding-top: .2em;
  padding-right: 1em;
  text-align: right;
  width: 50%;
}
.ride_list .vl {
  padding-top: .2em;
  width: 50%;
  text-align: left;
}
