a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #33CC00;
}
a:hover {
  color: #99FF33;
  text-decoration: underline;
}
body {
  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
  background: white;
  color: black;
  margin: 0px;
  font-size: small;
  padding: 10px 10px 0 10px;
}
img, table {
  border-style: none;
}
p .indent {
  text-indent: 2em;
  margin: 2pt 0 2pt 0;
}
.acknowledgement {
  margin: 0 0 2em 0;
  width: 30em;
}
.base_content {
  padding: 2ex 5em 1ex 5em;
}
.base_footer {
  margin-top: 2ex;
  border-top: 1px solid #666666;
  width: 100%;
}
.base_footer_top {
  font-size: 80%;
  text-align: left;
  white-space: nowrap;
}
.base_footer_menu {
  font-size: 80%;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.base_footer_menu img {
  margin: 0 5px 2px 5px;
}
.base_footer_copyright {
  font-size: 80%;
  text-align: right;
  white-space: nowrap;
  color: #666666;
}
.base_header {
  width: 100%;
}
.base_header_logo {
}
.base_header_text {
  white-space: nowrap;
  text-align: center;
}
.base_header_button {
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: top;
  text-align: right;
}
.base_grid {
  font-size: medium;
  width: 100%;
}
.base_realm {
  font-weight: bold;
  color: #666666;
  font-size: 150%;
  padding-bottom: 1ex;
  white-space: nowrap;
}
.base_title {
  border-top: 1px solid #666666;
  margin-top: .1ex;
  color: #666666;
  white-space: nowrap;
  text-transform: uppercase;
}
.base_menu {
  white-space: nowrap;
}
.base_menu_heart {
  margin: 0 10px 0 10px;
}
.email {
  white-space: nowrap;
}
.error {
  font-weight: bold;
  color: #990000;
}
.error_color {
  color: #990000;
}
.form_field_checkbox {
  padding-left: 3em;
}
.form_field_description {
  margin: -1ex 0 -.5ex 0;
  width: 30em;
  font-size: 90%;
  color: #666666;
  clear: left;
  float: left;
}
.form_field_error {
  font-size: 90%;
  color: #990000;
  font-weight: bold;
}
.form_field_error_label {
  color: #990000;
  font-style: italic;
}
.form_field_input {
  padding-bottom: 1em;
}
.form_field_label {
  vertical-align: top;
  text-align: right;
/*  color: #666666; */
}
.form_prologue {
  padding-bottom: 1ex;
  width: 30em;
}
.index_freiker {
  background: url(/i/index_freiker.jpg) no-repeat;
  float: left;
  clear: left;
  width: 95;
  height: 400;
}
.index_content {
}
.index_wheel {
  background: url(/i/index_wheel.jpg) no-repeat;
  width: 200;
  height: 400;
  clear: right;
  float: right;
}
.learn_more {
  font-size: 80%;
  white-space: nowrap;
}
.separator {
  text-align: left;
  font-weight: normal;
  color: #33CC00;
  padding: .5ex 0 1.5ex 0;
  border-top: 1px solid #33CC00;
}
.table_heading {
  font-weight: bold;
}
.warning {
  font-weight: italic;
  color: #990001; /* must be different from .error */
}
